doctype html
head
  meta(charset='utf-8')
  title LaTeX Latte
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='../styles/flashcards.css')
  link(rel="icon", type="image/x-icon", href="../assets/favicon.png")
  script(src="https://polyfill.io/v3/polyfill.min.js?features=es6")
  script(type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js")
body
  include ../partials/header
  main
    if(cards[0])
      - let frontText = cards[0].frontSide
      - let backText = cards[0].backSide
      .lidTop
      .lidBottom
      .coffeeCup
        div#prevNextButtons 
          if current > 1
            - let url = "/flashcards/" + courseCode + "?page=" + (current-1)
            - if(qstring.length > 0){ url += "&" + qstring; }
            a.prevButton.neonButton(href=url) Previous
            | 
          - url = "/flashcards/" + courseCode + "?page=" + (current+1)
          - if(qstring.length > 0){ url += "&" + qstring; }
          if(nextButton)
            a.nextButton.neonButton(href=url) Next
        #coffeeSleeve
          div#frontSide #{frontText}
          div#backSide  #{backText}
    else
      .lidTop
      .lidBottom
      .coffeeCup
        #coffeeSleeve 
          div#frontSide 
          div#backSide No flashcards for this course yet. Upload your own or check back later!
script(src='../darkmode.js')
script(src='../flashcards.js')
