doctype html
head
  meta(charset='utf-8')
  title LaTeX Latte
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='')
  script(src="https://polyfill.io/v3/polyfill.min.js?features=es6")
  script(type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js")
body
  include ../partials/header
  main
    - let frontText = cards[0].frontSide
    - let backText = cards[0].backSide
    div#frontSide #{frontText}
    div#backSide #{backText}
    div#prevNextButtons 
      if current > 1
        - let url = "/flashcards?page=" + (current-1)
        - if(qstring.length > 0){ url += "&" + qstring; }
        a.prevButton.neonButton(href=url) Previous
        | 
      - url = "/flashcards?page=" + (current+1)
      - if(qstring.length > 0){ url += "&" + qstring; }
      if(nextButton)
        a.nextButton.neonButton(href=url) Next
    //- When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$

script(src='../flashcards.js')